<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="logIn()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="email" formControlName="email" id="username" class="form-control" placeholder="Enter your email">
            <!-- Display error message for required and invalid email -->
            <div class="error" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
              This field is required.
            </div>
            <div  class="error" *ngIf="loginForm.controls['email'].hasError('email') && loginForm.controls['email'].touched">
              Invalid email format.
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password" class="form-control"
              placeholder="Enter your password">
            <!-- Display error message for required password -->
            <div  class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
              This field is required.
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>