.mainTable {
  height: 100%;
  min-height: 500px;}

.max-width-height-img {
  max-width: 80px;
  max-height: 80px;
}

.cartTotalTable tr.cart td {
  padding: 4px;
  background-color: #fff !important;
}

.custom-nav-ul {
  gap: 10px;

  .nav-item {
    text-decoration: none;
    background: #eee;
    border-radius: 8px 8px 0px 0px;

    a {
      color: #00000090;
      text-transform: uppercase;
      font-weight: 500;
      border-radius: 8px 8px 0px 0px;
      border-bottom: solid 4px rgb(114, 221, 114);
    }

    .active {
      background: #777;
      border-radius: 8px 8px 0px 0px;
      border-color: rgb(230, 58, 58);

      img {
        filter: invert(1);
      }
    }
  }
}

.categories_card {
  max-width: 19%;
  border-radius: 8px;
  border: 0;

  .card-img {
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
  }

  .card-img-overlay {
    background: #00000057;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .onHover {
    display: none;
  }

  &:hover {
    .onHover {
      display: block;
      position: absolute;
      background-color: rgba(81, 116, 231, 0.9);
      width: 100%;
      height: 100%;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 8px;

      .addButton {
        font-size: 24px;
        background-color: #ffffff;
        text-decoration: none;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 26px;
        font-weight: 600;
        border-radius: 100%;
        border: 0;
        cursor: pointer;
      }
    }
  }
}

.modal-dialog-centered {
  background: white !important;
}

.modal-footer {
  justify-content: center;
}

.modal-body {
  text-align: center
}

#exampleModal2 .modal-title{
  color:white;
  font-size: 20px;
  text-align: center;
}
// .toast-container {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }