<div class="container-fluid">
  <div class="row g-2">
    <!-- Left side -->
    <div class="col-md-5">
      <section class="bg-light p-3">
        <div class="table-responsive">
          <table class="table table-striped mainTable">
            <!-- Table header -->
            <thead>
              <tr class="bg-transparent">
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <!-- Product rows -->
              <tr *ngFor="let product of addToCartList">
                <td>
                  <a class="btn btn-white" (click)="removeItem(product._id)">
                    <img src="../../assets/images/multiply-cross.svg" class="img-fluid" width="20px" height="20px"
                      alt="delete">
                  </a>
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}INR</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.totalPrice }}INR</td>
              </tr>
              <!-- No products message -->
              <tr class="text-center" *ngIf="!addToCartList || addToCartList.length === 0">
                <td colspan="5">
                  <h2>There are no products</h2>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Cart total information -->
        <table class="table table-bordered cartTotalTable">
          <tr class="cart">
            <th>SubTotal:</th>
            <td>0.000EUR</td>
            <td>1 Item</td>
          </tr>
          <tr class="cart">
            <th>VAT:</th>
            <td>N/A</td>
            <td>EUR</td>
          </tr>
          <tr class="cart">
            <th>Discount:</th>
            <td>N/A</td>
            <td>EUR</td>
          </tr>
          <tr class="cart">
            <th>Total:</th>
            <td>2000EUR</td>
            <td></td>
          </tr>
        </table>
        <!-- Action buttons -->
        <div class="d-flex gap-2">
          <button class="btn btn-danger w-100 rounded-0" (click)="cancelSale()" data-toggle="modal"
            data-target="#exampleModal">Cancel Sale</button>
          <button class="btn btn-success w-100 rounded-0" data-toggle="modal" data-target="#exampleModal2">Process
            Sale</button>
        </div>
      </section>
    </div>
    <!-- Right side -->
    <div class="col-md-7">
      <section class="bg-light p-3">
        <!-- Category navigation -->
        <div class="mt-2px">
          <ul class="nav nav-pills custom-nav-ul">
            <li class="nav-item">
              <a class="nav-link active" href="javascript:void(0)" (click)="getProduct()">
                <img src="../../assets/images/ic_home.svg" alt="home">
              </a>
            </li>
            <li class="nav-item" *ngFor="let cat of category">
              <a class="nav-link" [ngClass]="cat.isActive ? 'active' : 'notActive'" (click)="toggleCategoryActive(cat)"
                href="javascript:void(0)">{{ cat.name }}</a>
            </li>
          </ul>
          <!-- Product search -->
          <div class="my-2">
            <form action="#" method>
              <div class="input-group mb-3">
                <input type="search" class="form-control" placeholder="Search products...">
                <div class="input-group-append">
                  <a class="btn btn-white bg-white border border-start-0 rounded-0 rounded-end">
                    <img src="https://www.svgrepo.com/show/7109/search.svg" class="img-fluid" width="20px" height="20px"
                      alt="search">
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Product cards -->
        <div class="d-flex flex-wrap gap-2">
          <div class="card text-white categories_card" *ngFor="let product of getProductList"
            title="{{ product.description }}">
            <img class="card-img" [src]="getImageUrl(product)" alt="{{ product.name }}">
            <div class="card-img-overlay">
              <h6 class="card-title">{{ product.name }}</h6>
            </div>
            <div class="onHover">
              Description - {{ product.description }}
              Price - {{ product.price }}Rs
              Category - {{ product.category }}
              <a class="addButton" (click)="addToCart(product)">+</a>
            </div>
          </div>
        </div>
        <!-- No products message -->
        <div class="text-center" *ngIf="!getProductList || getProductList.length === 0">
          <div colspan="5">
            <h2>There are no products</h2>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal Template -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Are you sure?</h2>
        <p>You will not be able to recover the data.....</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="procesSale()" data-toggle="modal"
          data-target="#exampleModal1">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancel Confirmation </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Errased</h2>
        <p>Data Deleted</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"> Ok </button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-black">
        <h5 class="modal-title" id="exampleModalLabel">Receipt </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Sale No-----4556125</h2>
        <p>Date: 01-12-2023</p>
        <table class="table table-striped mainTable">
          <!-- Table header -->
          <thead>
            <tr class="bg-transparent">
              <th scope="col">#</th>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Sub Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Sweater</td>
              <td>1</td>
              <td>2000 INR</td>
            </tr>
            <tr>
              <td>Total Item</td>
              <td>1</td>
              <td>Total</td>
              <td>23</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>VAT</td>
              <td>23000 INR</td>
            </tr>
            <tr>
              <td>Grand Total</td>
              <td></td>
              <td></td>
              <td>23000 INR</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal"> Close </button>
      </div>
    </div>
  </div>
</div>